.formContainer {
  color: aliceblue;
  background-color: #212529;
  border-radius: 8px;
  width: 50%;
  height: 50%;
  max-width: 700px;
  margin: 10% auto;
}
.Container {
  padding: 2%;
}

.Carousel {
  max-width: 800px;
  margin: 0 auto;
}

.input {
  padding: 0 2%;
}
