.formContainer {
  color: aliceblue;
  background-color: #212529;
  border-radius: 6px;
  width: 50%;
  height: 50%;
  max-width: 700px;
  margin: 10% auto;
  padding: 1%;
}

.Container {
  padding: 1%;
}

.Carousel {
  max-width: 800px;
  margin: 0 auto;
}

.input {
  padding: 0 4%;
}
